
header{

background-color: #FDD7E4;
height:100px;
width: 100%;
}
nav{
  background-color: #D1D0CE;
  height:50px;
  width: 100%;
}
main{
  background-color: #ECC5C0;
  height:400px;
  width: 60%;
}
aside{
  background-color: #ADD8E6;
  height:400px;
  width: 30%;
}
footer{
  background-color:#ff4da6 ;
  height:100px;
  width: 100%;

}
#container{
display:flex
}


/* unvisited link */
a:link {
  color: black;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: grey;
}

/* selected link */
a:active {
  color: blue;
}
